{% extends "mumbletemps/base.html" %}

{% load static %}
{% load i18n %}
{% load timetags %}

{% block mumbletemps %}
    <div class="text-center">
        <p>
            <img class="ra-avatar img-circle" src="{{ link.creator.portrait_url_128 }}" alt="{{ link.creator.character_name }}">
        </p>

        <h4>
            {% blocktranslate with character=link.creator.character_name %}
                {{ character }} has invited you to join Mumble!
            {% endblocktranslate %}
        </h4>

        <p>{% translate "Time Remaining" %}: <span id="countdown{{ link.link_ref }}"></span></p>
        <p><span class="label label-info">{% translate "Link Ref" %}: {{ link.link_ref }}</span></p>

        <p>
            <a class="btn btn-primary" href="mumble://{{ connect_url }}">
                <svg width="64" height="64" class="m-3">
                    <use href="#aa-mumble-logo"></use>
                </svg>

                <span class="m-3">
                    {% translate "Click to Join Mumble as" %}: <b>{{ temp_user.name }}</b>
                </span>
            </a>
        </p>

        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card">
                    <div class="card-header text-center">
                        <div class="card-title mb-0">{% translate "Manually Connect" %}</div>
                    </div>

                    <div class="card-body">
                        <p>{% translate "If you have problems with the application link above, please use the following in Mumble's connection dialog." %}</p>
                        <p>{% translate "Mumble URL" %}: <span class="badge bg-dark">{{ mumble }}</span></p>
                        <p>{% translate "Username" %}: <span class="badge bg-dark">{{ temp_user.username }}</span></p>
                        <p>{% translate "Password" %}: <span class="badge bg-dark">{{ temp_user.password }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "bundles/moment-js.html" with locale=True %}
    {% include "bundles/timers-js.html" %}

    <script>
        /* global moment */
        const locale = '{{ LANGUAGE_CODE }}';
        const linkRef = '{{ link.link_ref }}';
        const targetDate = moment('{{ link.expires|print_timestamp|date:"c" }}');

        moment.locale(locale);

        let expired = false;

        const updateTimer = () => {
            if (expired) {
                return;
            }

            const countdownElement = document.getElementById("countdown" + linkRef);

            if (targetDate.isAfter(Date.now())) {
                const duration = moment.duration(targetDate - moment(), 'milliseconds');
                countdownElement.innerHTML = getDurationString(duration);
            } else {
                expired = true;
                countdownElement.innerHTML = "";
            }
        };

        // Set initial value and start updates
        updateTimer();
        setInterval(updateTimer, 1000);
    </script>
{% endblock mumbletemps %}
