{% extends "mumbletemps/base.html" %}

{% load i18n %}
{% load timetags %}

{% block mumbletemps %}
    <div class="text-center">
        <p>
            <img class="ra-avatar img-circle" src="{{ link.creator.portrait_url_128 }}" alt="{{ link.creator.character_name }}">
        </p>

        <h4>
            {% blocktranslate with character=link.creator.character_name %}
                {{ character }} has invited you to join Mumble!
            {% endblocktranslate %}
        </h4>

        <p>Time Remaining: <span id="countdown{{ link.link_ref }}"></span></p>
        <p><span class="label label-info">Link Ref: {{link.link_ref}}</span></p>

        <p>
            <a class="btn btn-primary" href="mumble://{{ connect_url }}">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Icons_mumble.svg/400px-Icons_mumble.svg.png"
                    alt="Mumble"
                    height="64"
                    width="64"
                    style="margin: 15px;"
                >

                <span style="margin: 15px;">
                    Click to Join Mumble as: <b>{{ temp_user.name }}</b>
                </span>
            </a>
        </p>

        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card">
                    <div class="card-header text-center">
                        <div class="card-title mb-0">Manually Connect</div>
                    </div>

                    <div class="card-body">
                        <p>If you have problems with the application link above, please use the following in Mumble's connection dialog.</p>
                        <p>Mumble Url: <span class="badge">{{ mumble }}</span></p>
                        <p>Username: <span class="badge">{{ temp_user.username }}</span></p>
                        <p>Password: <span class="badge">{{ temp_user.password }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "bundles/moment-js.html" with locale=True %}
    {% include "bundles/timers-js.html" %}

    <script>
        /* global moment */
        const locale = '{{ LANGUAGE_CODE }}';
        const timers = [
            {
                'id': '{{ link.link_ref }}',
                'targetDate': moment('{{ link.expires|print_timestamp| date:"c" }}'),
                'expired': false
            }
        ];

        moment.locale(locale);

        /**
         * Update a timer
         *
         * @param timer
         */
        const updateTimer = (timer) => {
            if (timer.targetDate.isAfter(Date.now())) {
                const duration = moment.duration(timer.targetDate - moment(), 'milliseconds');

                document.getElementById("countdown" + timer.id).innerHTML = getDurationString(duration);
            } else {
                timer.expired = true;

                document.getElementById("countdown" + timer.id).innerHTML = "";
            }
        };

        /**
         * Update all timers
         */
        const updateAllTimers = () => {
            const l = timers.length;

            for (let i=0; i < l; ++i) {
                if (timers[i].expired) {
                    continue;
                }

                updateTimer(timers[i]);
            }
        };

        /**
         * Timed update
         */
        const timedUpdate = () => {
            updateAllTimers();
        };

        // Set initial values
        timedUpdate();

        // Start timed updates
        setInterval(timedUpdate, 1000);
    </script>
{% endblock mumbletemps %}
