{% extends "mumbletemps/base.html" %}

{% load static %}
{% load i18n %}
{% load timetags %}

{% block mumbletemps %}
    <div class="col-md-12 text-center">
        <div class="mumbletemps-sso-login mb-3">
            <p>
                <img class="ra-avatar img-circle" src="{{ link.creator.portrait_url_128 }}" alt="{{ link.creator.character_name }}">
            </p>

            <h4>{{ link.creator.character_name }} has invited you to join Mumble!</h4>

            <p>Time Remaining: <span id="countdown{{ link.link_ref }}"></span></p>
            <p><span class="label label-info">Link Ref: {{ link.link_ref }}</span></p>

            <form action="{% url 'mumbletemps:join' link.link_ref %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="sso" value="True">
                <input
                    type="image"
                    class="img-responsive center-block"
                    src="{% static 'allianceauth/authentication/img/sso/EVE_SSO_Login_Buttons_Large_Black.png' %}"
                    alt="Login with SSO"
                >
            </form>
        </div>

        <div class="mumbletemps-non-sso-login">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <div class="card">
                        <div class="card-header text-center">
                            <div class="card-title mb-0">Non SSO Login</div>
                        </div>

                        <div class="card-body text-start">
                            <div class="form-group">
                                <form action="{% url 'mumbletemps:join' link.link_ref %}" method="post">
                                    {% csrf_token %}

                                    <input type="hidden" name="sso" value="False">

                                    <p class="text-center">If you cannot SSO with your EVE character, You can enter your own details below.</p>

                                    <p>
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Who are you?">
                                    </p>

                                    <p>
                                        <label for="association">Association</label>
                                        <input type="text" class="form-control" name="association" id="association" placeholder="Who are you with?">
                                    </p>

                                    <button type="submit" value="Submit" class="btn btn-primary">Login Without SSO</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "bundles/moment-js.html" with locale=True %}
    {% include "bundles/timers-js.html" %}

    <script>
        /* global moment */
        const locale = '{{ LANGUAGE_CODE }}';
        const timers = [
            {
                'id': '{{ link.link_ref }}',
                'targetDate': moment('{{ link.expires|print_timestamp| date:"c" }}'),
                'expired': false
            }
        ];

        moment.locale(locale);

        /**
         * Update a timer
         *
         * @param timer
         */
        const updateTimer = (timer) => {
            if (timer.targetDate.isAfter(Date.now())) {
                const duration = moment.duration(timer.targetDate - moment(), 'milliseconds');

                document.getElementById("countdown" + timer.id).innerHTML = getDurationString(duration);
            } else {
                timer.expired = true;

                document.getElementById("countdown" + timer.id).innerHTML = "";
            }
        };

        /**
         * Update all timers
         */
        const updateAllTimers = () => {
            const l = timers.length;

            for (let i=0; i < l; ++i) {
                if (timers[i].expired) {
                    continue;
                }

                updateTimer(timers[i]);
            }
        };

        /**
         * Timed update
         */
        const timedUpdate = () => {
            updateAllTimers();
        };

        // Set initial values
        timedUpdate();

        // Start timed updates
        setInterval(timedUpdate, 1000);
    </script>
{% endblock mumbletemps %}
